[wxHyperlinkCtrl]
Description=
BaseClass=
IncludeFilename=wx/hyperlink.h
ImageFilename=
TileImage=0
ImageHAlignment=2
ImageVAlignment=2
CustomArguments=%PARENT%, %IDENTIFIER%, %Label%, %URL%, %POSITION%, %SIZE%, wxHL_DEFAULT_STYLE
CustomCtorArguments=
Styles=
ExtraStyles=
DefaultWidth=-1
DefaultHeight=-1
ShowInheritedProperties=1
IsContainer=0
Label=
Colour=FFFFFF
BorderStyle=wxNO_BORDER
[wxHyperlinkCtrl/Properties]
[wxHyperlinkCtrl/Properties/URL]
Type=wxString
Kind=0
Editor=default
DefaultValue=
Setter=SetURL
Getter=GetURL
XRCTag=
Description=
Translateable=1
[wxHyperlinkCtrl/Properties/Label]
Type=wxString
Kind=0
Editor=default
DefaultValue=
Setter=
Getter=
XRCTag=
Description=
Translateable=1
[wxHyperlinkCtrl/Properties/Hover\ Color]
Type=wxColour
Kind=0
Editor=colour
DefaultValue=
Setter=SetHoverColour
Getter=GetHoverColour
XRCTag=
Description=
Translateable=1
[wxHyperlinkCtrl/Properties/Normal\ Color]
Type=wxColour
Kind=0
Editor=colour
DefaultValue=
Setter=SetNormalColour
Getter=GetNormalColour
XRCTag=
Description=
Translateable=1
[wxHyperlinkCtrl/Properties/Visited\ Color]
Type=wxColour
Kind=0
Editor=colour
DefaultValue=
Setter=SetVisitedColour
Getter=GetVisitedColour
XRCTag=
Description=
Translateable=1
[wxHyperlinkCtrl/Events]
[wxHyperlinkCtrl/Events/wxEVT_HYPERLINK]
Macro=EVT_HYPERLINK(%ID%, %FUNCTION%)
EventClass=wxHyperlinkEvent
FunctionName=On%IDNAME%Clicked
Code=wxEvent::Skip();
Description=
